<%- include page/header_datepicker %>
<!--<meta http-equiv="refresh" content="3600">-->
	<div class="row">
		<div class="col-md-8 column">
			<div class="col-md-12 column">
				<form method = "post" id="unitList" name="unitList">
					<table width="100%" border="1">

							<tr  height="80" align="center" bgcolor="#428bca">

								<td>
									<div class="fa fa-3x" style="color:white;">裝置</div>
								</td>

								<td>
									<div class="fa fa-3x" style="color:white;">狀態</div>
								</td>

							</tr>


						<% if (units) { %>
							<% for(var i = 0;i<units.length;i++) { %>
								<!--<tr align="center" bgcolor="#E3E3E3">-->
								<tr height="80" align="center">
									<td align="center">
										<div  class="col-md-3">
											<span class="pull-right">
					                        	<img src="/images/icon_detecter.png" width="50" height="50">
					                        </span>

										</div>

										<div class="col-md-9 fa fa-3x">
											<span class="pull-left">
					                        	<%= units[i].name %>
					                        </span>

										</div>

									</td>
									<td  align="center">
										<% if(units[i].status == 0){ %>
										   <img src="/images/btn_normal.png" width="80" height="40" name="status">
										<% }else if(units[i].status == 1){ %>
											<img src="/images/btn_alarm.png" width="80" height="40" name="status">
										<% }else if(units[i].status == 2){ %>
											<img src="/images/btn_loss.png" width="80" height="40" name="status">
										<% } %>
									</td>
								</tr>
							<% } %>
						<% } %>

					</table>
				</form>
			</div> <!-- col-md-12 column-->
		</div> <!-- col-md-8 column-->
		<div class="col-md-4 column col-centered">
			<div class="col-md-12">
				<a href="http://www.accuweather.com/en/tw/hualien-county/3369306/weather-forecast/3369306" class="aw-widget-legal">
				<!--
				By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
				-->
				</a>
				<div id="awtd1474449223149" class="aw-widget-36hour"  data-locationkey="" data-unit="c" data-language="zh-tw" data-useip="false" data-uid="awtd1474449223149" data-editlocation="false">
				</div><!-- column-->
			</div>
		</div> <!-- col-md-4 column col-centered-->
	</div>	<!--row-->
	<div class="row">
		<div class="col-md-12 column">
			<label id="error_message" class="checkbox">
	            <font color="red"><b></b>
	            <% if (user.authz.a02==false) { %>
	                你沒有權限,請通知管理員變更權限!
	            <% } %>
	        </label>
		</div> <!-- column-->
	</div>	<!--row-->

<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>

<%- include page/footer %>